HOME_MARKET_RENTCAST_API_KEY=
HOME_MARKET_EMAIL_TO=
HOME_MARKET_EMAIL_FROM=
HOME_MARKET_SMTP_HOST=smtp.gmail.com
HOME_MARKET_SMTP_PORT=587
HOME_MARKET_SMTP_USER=
HOME_MARKET_SMTP_PASSWORD=
HOME_MARKET_SMTP_TIMEOUT_SECONDS=30
HOME_MARKET_SMTP_RETRIES=2
